<div class="col-md-12">
	<div class="rent-item clearfix">
		<div class="rent-item__text">
			<h3 class="rent-item__head rent-item__head-iformdesc"> <%= @page.info_title %></h3>
			<p class="rent-item__description rent-item__description-gorizont">
				<%= @page.info_description %>
			</p>
			
		</div>
	</div>
</div>