<footer class="page-footer">
	<div class="container">
		<div class="feedback__info feedback__info-footer">
			<a  class="feedback__link feedback__link-footer feedback__link-disable" href="tel:89106494674"><i class="icon icon-phone"></i>tell: <%= @page.phone %></a>
			<a  class="feedback__link feedback__link-footer feedback__link-disable" href="mailto:info@sheben-tver.ru"><i class="icon icon-mail"></i>Mail: <%= @page.email %></a>
		</div>
		<p class="page-footer__copyright">Copyright © ООО "СсТ | Тверь 2015 год</p>
	</div>
</footer>