<div class="main-header" id="materials">
	<div class="col-md-12">
		<h2 class="main-header__head">СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ</h2>
		<p class="main-header__description">Для уточнение всех цен и наличие материалов вы можете позвонить по номеру</p>
		<div class="feedback__info">
			<a  class="feedback__link feedback__link-big feedback__link-disable" href="tel:89106494674"><i class="icon icon-phone"></i><%= @page.phone %></a>
		</div>
	</div>
</div>