<div class="page-header__nav">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item"><a href="#home" class="menu__link menu__link-active JSscrollto">Главная</a></li>
						<li class="menu__item"><a href="#materials" class="menu__link JSscrollto">Материалы</a></li>
						<li class="menu__item"><a href="#servise" class="menu__link JSscrollto">Услуги и Аренда</a></li>
						<li class="menu__item"><a href="#about" class="menu__link JSscrollto">О Компании</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<div class="page-header__nav page-header__nav-inviz">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item"><a href="#home" class="menu__link menu__link-active JSscrollto">Главная</a></li>
						<li class="menu__item"><a href="#materials" class="menu__link JSscrollto">Материалы</a></li>
						<li class="menu__item"><a href="#servise" class="menu__link JSscrollto">Услуги и Аренда</a></li>
						<li class="menu__item"><a href="#about" class="menu__link JSscrollto">О Компании</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>