<div class="page-header__topLine">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="logo">	
					<%= link_to ("<i class='icon icon-logo icon-logo-white'></i>").html_safe, root_path, class: "logo__link" %>
					<p class="logo__title">Сыпучие стройматериалы Тверь</p>
				</div>
			</div>
		</div>
	</div>
</div>