<div class="slide clearfix">
	<div class="col-md-12">
		<div class="page-picture">
			<%= image_tag @page.image, class: "page-picture__img" %>
			<p class="page-picture__title">
				Продажа сыпучих стройматериалов
			</p>
		</div>	
		<div class="slide-header">
			<h1 class="slide-header__head">
				<%= @page.title %>
			</h1>
			<p class="slide-header__text">
				<%= @page.description %>
			</p>
		</div>
	</div>
</div>